{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}QUIZER{% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor\bootstrap\css\bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/heroicfeatures.css' %}" rel="stylesheet">

</head>

<body>
    {% block body %}
    <!-- Navigation -->
    {% include 'navbar.html' %}

    <!-- Page Content -->
    <div class="container">
        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            {% block header %}
            <h1 class="display-3">Welcome</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.
            </p>
            <a href="#" class="btn btn-primary btn-lg">Call to action!</a> {% endblock header %}
        </header>

        <!-- Page Features -->

        {% block content %}
        <h1>OOPS, SOMETHING WENT WRONG</h1>
        {% endblock content %}

        <!-- /.container -->
    </div>
    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor\jquery\jquery.min.js' %}"></script>
    <script src="{% static 'vendor\bootstrap\js\bootstrap.min.js' %}"></script>
    {% endblock body %}
</body>

</html>