{% extends "base.html" %} {% load static %} {% block styles %}
<link rel="stylesheet" href='{% static "css/register.css" %}'> {% endblock styles %} {% block header %}
<h1 class="display-3 text-center">REGISTER</h1>{% endblock header %} {% block content %}
<form class="card card-block bg-faded" method="POST" novalidate>
    {% csrf_token %}
    <div class="m-5">
        <div class="row justify-content-md-center">
            <div class="col col-sm-6">
                <div class="form-group is-focused">
                    <label for="id_username" class="bmd-label-floating">Username</label>
                    {{ form.username }}
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-sm-3">
                <div class="form-group">
                    <label for="first_name" class="bmd-label-floating">Firstname</label>
                    {{ form.first_name }}
                </div>
            </div>
            <div class="col col-sm-3">
                <div class="form-group">
                    <label for="last_name" class="bmd-label-floating">Lastname</label>
                    {{ form.last_name }}
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-sm-6">
                <div class="form-group">
                    <label for="email" class="bmd-label-floating">Email</label>
                    {{ form.email }}
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-sm-6">
                <div class="form-group">
                    <label for="password" class="bmd-label-floating">Password</label>
                    {{ form.password1 }}
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-sm-6">
                <div class="form-group">
                    <label for="password_again" class="bmd-label-floating">Repeat Password</label>
                    {{ form.password2 }}
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-sm-6">
                <button type="submit" class="btn btn-outline-primary">Register</button>
                <button type="reset" class="btn btn-outline-danger">Reset</button>
            </div>
        </div>
    </div>
</form> {% endblock content %} {% block scripts %}
<script src="{% static 'js/register.js' %}"></script>
{% endblock scripts %}